* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* --NAVBAR-- */

nav {
  background-color: #6b639b;
  height: 70px;
  opacity: 0.9;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  font-weight: 500;
}

nav img {
  width: 50px;
  height: 50px;
}

nav .nav-link {
  color: white;
  margin: 0 10px;
  transition: 0.7s;
}

nav .nav-link:hover {
  border-bottom: 2px solid #cdb58a;
}

.navbar-collapse {
  background-color: #6b639b;
  opacity: 0.9;
}

/* --HEADER-- */

header {
  width: 100%;
}

header .arrow {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 20px;
  font-size: 35px;
  color: white;
}

.banner {
  position: relative;
  width: 100%;
}

.banner__hero-img {
  background-image: url("./assets/teamwork2_1280.jpg");
  position: relative;
  height: 100vh;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  z-index: 0;
}

.banner__shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}

.banner__text {
  padding: 10px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  width: 45%;
  font-size: 20px;
}

.banner__text h1 {
  text-transform: uppercase;
}

.banner__text span {
  color: #cdb58a;
}

.underline {
  width: 150px;
  height: 2.3px;
  background-color: #cdb58a;
  margin: 20px auto;
  border-radius: 2px;
}

.banner__btn {
  background: #554c86;
  padding: 10px 30px;
  display: inline-block;
  margin-top: 40px;
  border-radius: 25px;
  border: none;
  transition: 0.5s;
  text-transform: uppercase;
}

.banner__btn:hover {
  background: #554c86;
  scale: 1.08;
  box-shadow: 0 10px 40px -10px rgba(45, 0, 128, 0.404);
}

.banner__btn a {
  color: white;
  font-weight: 500;
  letter-spacing: 0.5px;
}

/* --SEKCJA PRODUKT-- */

/* O NAS */

.about-us {
  position: relative;
  padding: 30px 0;
}

.about-us-bg-img {
  position: absolute;
  right: 0px;
  background: url("./assets/mentoring__640.jpg");
  background-position: center;
  background-size: cover;
  width: 40%;
  height: 100%;
  max-height: 600px;
  top: 0px;
}

.about-us__content {
  margin: 30px auto;
}

.about-us__content h4 {
  margin: 50px 0 30px;
}

.about-us__list {
  margin-top: 30px;
  list-style: none;
}

.about-us__list li {
  width: 45%;
  float: left;
  margin-bottom: 15px;
  margin-right: 15px;
  color: #696969;
}

.about-us__list li i {
  color: #cdb58a;
  margin-right: 10px;
}

/* INFORMACJE O PRODUKCIE */

.product__info {
  margin: 50px auto;
}

.product__info h4 {
  margin: 50px 0 30px;
}

.product__info p {
  margin: 0 auto 50px;
}

.product__info-about img {
  margin-top: 3rem;
  height: 400px;
  width: 400px;
}

.product__info-about:first-of-type {
  text-align: left;
}

.product__info-about:last-of-type {
  text-align: right;
}

/* ZALETY PRODUKTU */

.product__boxes i {
  font-size: 45px;
  text-align: center;
  color: #554c86;
  transition: 0.5s;
  padding-top: 10px;
}

.product__boxes i:hover {
  scale: 1.15;
  color: #6b639b;
}

.product__boxes-box {
  margin-bottom: 40px;
  text-align: center;
  padding: 20px 25px 40px 25px;
  border: 1px solid transparent;
  border-radius: 5px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1);
}

.product__boxes-text {
  margin-top: 30px;
}

.product__boxes-text h5 {
  margin-bottom: 20px;
}

.product__boxes-text span {
  color: #cdb58a;
}

/* PRODUKT W LICZBACH */

.product__details {
  position: relative;
  background-image: url("./assets/teamwork1_1280.jpg");
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  height: 500px;
  color: white;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.8;
}

.product__details .container {
  padding: 50px 0;
}

.product__details-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  z-index: -1;
}

.product__details-single {
  margin-top: 30px;
}

.product__details-title {
  font-size: 22px;
  font-weight: 500;
  letter-spacing: 0.2px;
}

.product__details p.number {
  font-size: 50px;
  transition: 0.7s;
  font-weight: 700;
}

.product__details p.number:hover {
  color: #6b639b;
  scale: 1.5;
}

/* CENNIK */

.pricing {
  padding: 30px 0 100px;
}

.pricing-title {
  margin-bottom: 60px;
  color: #0d0221;
}

.pricing-title h2 {
  font-size: 45px;
  font-weight: 600;
  margin-top: 3rem;
}

.pricing-title p {
  margin: 3rem auto 0;
  width: 75%;
}

/* .pricing-content {
  position: relative;
} */

.pricing_card {
  position: relative;
  margin: 10px 0;
}

.pricing__card-single {
  background: #554c86;
  padding: 60px 40px;
  border-radius: 30px;
  box-shadow: 0 10px 40px -10px rgba(45, 0, 128, 0.2);
  position: relative;
  z-index: 1;
}

.pricing__card-single:before {
  content: "";
  background-color: #fff;
  width: 100%;
  height: 100%;
  border-radius: 18px 18px 190px 18px;
  border: 1px solid #eee;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -1;
}

.pricing__card-title h2 {
  margin-bottom: 20px;
  font-size: 26px;
  font-weight: 600;
}

.pricing__card-title h1 {
  font-weight: 600;
  margin-top: 20px;
}

.pricing__card-single ul {
  list-style: none;
  margin-top: 30px;
  padding-left: 0;
}

.pricing__card-single ul li {
  line-height: 36px;
}

.pricing__btn {
  background: #554c86;
  padding: 10px 30px;
  color: #fff;
  display: inline-block;
  margin-top: 20px;
  border-radius: 25px;
  transition: 0.5s;
}

.pricing__btn:hover {
  background: #0d0221;
  scale: 1.05;
  box-shadow: 0 10px 40px -10px rgba(45, 0, 128, 0.404);
}

a {
  text-decoration: none;
}

/* --SEKCJA KONTAKT-- */

/* FORMULARZ KONTAKTOWY */

.contact__container {
  margin-top: 50px;
}

.contact {
  padding-left: 30px;
  font-size: 14px;
}

.contact .btn {
  font-size: 14px;
  background: #554c86;
  padding: 8px 25px;
  color: #fff;
  display: inline-block;
  margin-top: 10px;
  border-radius: 25px;
  border: none;
  transition: 0.5s;
}

.contact .btn:hover {
  background: #0d0221;
  scale: 1.05;
  box-shadow: 0 10px 40px -10px rgba(45, 0, 128, 0.404);
}

.contact input {
  margin: 5px 0;
}

.contact input::placeholder {
  font-size: 14px;
  color: lightslategray;
}

.contact textarea::placeholder {
  font-size: 14px;
  color: lightslategray;
}

.contact .checkbox {
  font-size: 10.5px;
}

/* OSOBA KONTAKTOWA */

.contact__contact-person {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact__contact-person img {
  width: 250px;
  height: 250px;
  border-radius: 100%;
  box-shadow: 0 10px 20px -10px rgba(45, 0, 128, 0.404);
  margin: 15px 0;
}

.contact__contact-person .social-media {
  padding-top: 20px;
}

.contact__contact-person i {
  padding-right: 5px;
}

.social-media i {
  font-size: 28px;
  padding: 15px;
  color: #554c86;
  transition: 0.5s;
}

.social-media i:hover {
  color: #0d0221;
  scale: 1.1;
  border-radius: 100%;
  box-shadow: 0 10px 20px -10px rgba(45, 0, 128, 0.404);
}

/* --FOOTER-- */

footer img {
  width: 30px;
  height: 30px;
}

.copy {
  margin: 0 2rem;
}

/* --MEDIA QUERIES-- */

@media (max-width: 950px) {
  .banner__text {
    font-size: 18px;
  }
}

@media (max-width: 800px) {
  .banner__text {
    font-size: 17px;
  }
}

@media (max-width: 610px) {
  .banner__text {
    font-size: 15px;
  }
}
